/.temporaneo0
/.temporaneo1
/2020-08-03 16-21-24.mp4
/MainWindow2.py
/__pycache__
/audioRecoder.py
/audio_decoder.py
/ciao.zip
/ciao.zip.writer
/demo.wav
/mediaplayer2.py
/pp.writer
/prova.py
/registrazione.py
/requirements.txt
/screenshot-mediaplayer1.jpg
/screenshot-mediaplayer2.jpg
/test.py
/test.pyc
